* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    justify-content: space-between;
    background-color: gray;
    color: white;
    font-family: 'Marck Script', cursive;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    background-color: darkblue;
    height: 4rem;
    border-bottom: 2px #ADD8E6 solid;
}

.game-stats{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.choices .text {
    font-size: 3rem;
}

img:hover {
    transform: scale(1.1);
}

.game-winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.retry-btn{
    font-family: 'Marck Script', cursive;
    background-color: darkblue;
    border: 2px solid #ADD8E6;
    font-size: 1.2rem;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    width: 128px;
    height: 32px;
}

.retry-btn:hover {
    cursor: pointer;
}

.retry-btn:active {
    background-color: #ADD8E6;
    border: 2px solid darkblue;
}

footer {
    border-top: 2px #ADD8E6 solid;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}